* {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url(font/SourceSansPro-SemiBold.otf);
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(font/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: Lora-Bold;
  src: url(font/Lora-Bold.ttf);
}

@font-face {
  font-family: Lora-Regular;
  src: url(font/Lora-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: url(font/OpenSans-Light.ttf);
}

.header {
  width: 1170px;
  height: 84px;
}

@media only screen and (max-width: 990px) {
  .header {
    padding: 0 20px;
  }
}

.header__wrapper {
  width: 100%;
  height: 84px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.navbar {
  padding: 0;
  min-height: 84px;
}

.navbar-nav {
  width: 540px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 990px) {
  .navbar-nav {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}

.nav-link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.69) !important;
  font-family: OpenSans-SemiBold;
  padding: 0;
}

.nav-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 37px;
}

.banner {
  width: 1170px;
  height: 710px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.banner__wrapper {
  width: 100%;
  height: 710px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: url("BG.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__title {
  text-align: center;
}

.banner__title_caption {
  margin-top: 130px;
  font-size: 58px;
  color: white;
  font-family: Lora-Bold;
  line-height: 44px;
}

.banner__title_pr {
  margin-top: 50px;
  font-size: 25px;
  line-height: 23px;
  color: white;
}

.banner__button {
  margin-top: 95px;
  cursor: pointer;
  border: none;
  width: 320px;
  height: 72px;
  border-radius: 36px;
  box-shadow: 1px 1.732px 5px rgba(0, 0, 0, 0.25);
  background-color: #00a5ff;
  font-size: 25px;
  color: white;
  font-family: OpenSans-SemiBold;
}

.services {
  width: 1170px;
  min-height: 540px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.services__wrapper {
  width: 100%;
  min-height: 540px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.services__title {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.services__title_caption {
  font-size: 42px;
  line-height: 32px;
  color: #3a3f4b;
  font-family: Lora-Bold;
}

.services__title_line {
  margin-top: 30px;
  width: 147px;
  border: 2px solid #00a5ff;
}

.services__list {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 100px 0;
}

.services__list_item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 359px) {
  .services__list_item {
    width: 100%;
  }
}

.services__list_item-img1 {
  height: 20px;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  background: url("img/pen.png") no-repeat 50% 50% #f5f6f8;
}

.services__list_item-img2 {
  height: 20px;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  background: url("img/icon2.png") no-repeat 50% 50% #f5f6f8;
}

.services__list_item-img3 {
  height: 20px;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  background: url("img/lamp.png") no-repeat 50% 50% #f5f6f8;
}

.services__list_item-img4 {
  height: 20px;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  background: url("img/icon4.png") no-repeat 50% 50% #f5f6f8;
}

.services__list_item-name {
  margin: 20px 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: #3a3f4b;
  font-family: SourceSansPro-Bold;
}

.services__list_item-line {
  margin-bottom: 20px;
  width: 41px;
  height: 1px;
  background-color: #393f4b;
  border: 0.72px solid #696969;
}

.services__list_item-text {
  width: 255px;
  height: 70px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #999999;
  text-align: center;
  font-family: OpenSans-Light;
}

@media only screen and (max-width: 510px) {
  .services__list_item-text {
    width: 180px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 359px) {
  .services__list_item-text {
    width: 280px;
    margin-bottom: 0;
  }
}

.portfolio {
  width: 1170px;
  min-height: 1155px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 1140px) {
  .portfolio {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 360px) {
  .portfolio {
    padding: 0;
  }
}

.portfolio__wrapper {
  width: 100%;
  min-height: 1155px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #f5f6f8;
}

.portfolio__title {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.portfolio__title_caption {
  font-size: 42px;
  line-height: 32px;
  color: #3a3f4b;
  font-family: Lora-Bold;
  font-weight: bold;
}

.portfolio__title_line {
  margin: 30px 0px 53px 0;
  width: 147px;
  height: 4px;
  background-color: #00a5ff;
}

.portfolio__menu {
  height: 30px;
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .portfolio__menu {
    width: 400px;
  }
}

@media only screen and (max-width: 470px) {
  .portfolio__menu {
    width: 360px;
  }
}

@media only screen and (max-width: 400px) {
  .portfolio__menu {
    min-height: 60px;
    width: 100%;
  }
}

.portfolio__menu_link {
  height: 30px;
  font-size: 14px;
  color: #b2b2b2;
  padding: 10px 0;
  line-height: 12px;
}

@media only screen and (max-width: 400px) {
  .portfolio__menu_link {
    width: 100px;
    text-align: center;
  }
}

.portfolio__menu_link:hover {
  color: #00a5ff !important;
  text-decoration: none;
  border-bottom: 1px solid #63b7e6;
}

.portfolio__example {
  margin-top: 40px;
  min-height: 715px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 800px) {
  .portfolio__example {
    flex-direction: column;
    align-content: center;
  }
}

.portfolio__example_item {
  height: 350px;
  width: 380px;
}

@media only screen and (max-width: 800px) {
  .portfolio__example_item {
    width: 100%;
  }
}

.portfolio__example_item-img img {
  width: 100%;
}

.portfolio__example_item-name {
  background: #f4f5f9;
  height: 76px;
  font-size: 18px;
  line-height: 14px;
  color: #999999;
  padding: 30px 0 30px 25px;
  box-shadow: 1px 1.732px 5px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 800px) {
  .portfolio__example_item-name {
    width: 380px;
  }
}

@media only screen and (max-width: 420px) {
  .portfolio__example_item-name {
    width: 100%;
  }
}

.portfolio__button {
  margin-top: 62px;
  margin-bottom: 125px;
  cursor: pointer;
  border: none;
  width: 280px;
  height: 63px;
  border-radius: 32px;
  box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.25);
  background-color: #00a5ff;
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: SourceSansPro-Bold;
}

.brands {
  width: 1170px;
  min-height: 430px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 1140px) {
  .brands {
    padding: 0 20px;
  }
}

.brands__wrapper {
  width: 100%;
  min-height: 430px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.brands__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.brands__title_caption {
  margin: 70px 0 30px 0;
  font-size: 42px;
  line-height: 32px;
  color: #3a3f4b;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-align: center;
}

.brands__title_line {
  width: 147px;
  height: 4px;
  background-color: #00a5ff;
  margin-bottom: 75px;
}

.brands__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 359px) {
  .brands__list {
    align-items: center;
  }
}

.brands__list_item {
  position: relative;
}

@media only screen and (max-width: 359px) {
  .brands__list_item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.brands__list_item-img {
  position: relative;
}

.brands__list_item-imghover {
  position: absolute;
  left: 0;
  opacity: 0;
}

@media only screen and (max-width: 359px) {
  .brands__list_item-imghover {
    left: auto;
  }
}

.brands__list_item:hover .brands__list_item-img {
  opacity: 0;
}

.brands__list_item:hover .brands__list_item-imghover {
  opacity: 1;
}

.testimonials {
  width: 1170px;
  height: 660px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .testimonials {
    height: 860px;
  }
}

.testimonials__wrapper {
  width: 100%;
  height: 660px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #f5f6f8;
}

@media only screen and (max-width: 600px) {
  .testimonials__wrapper {
    height: 860px;
  }
}

.testimonials__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.testimonials__title_caption {
  margin-top: 65px;
  margin-bottom: 30px;
  font-size: 42px;
  line-height: 32px;
  color: #3a3f4b;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-align: center;
}

.testimonials__title_line {
  width: 147px;
  height: 4px;
  background-color: #00a5ff;
}

.testimonials .carousel {
  margin-top: 60px;
}

.testimonials .carousel-inner {
  height: 403px;
}

@media only screen and (max-width: 1169px) {
  .testimonials .carousel-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  .testimonials .carousel-inner {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .testimonials .carousel-inner {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .testimonials .carousel-inner {
    width: 420px;
  }
}

@media only screen and (max-width: 420px) {
  .testimonials .carousel-inner {
    width: 360px;
  }
}

@media only screen and (max-width: 359px) {
  .testimonials .carousel-inner {
    width: 320px;
  }
}

.testimonials .carousel-item {
  height: 403px;
}

@media only screen and (max-width: 1169px) {
  .testimonials .carousel-item {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  .testimonials .carousel-item {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .testimonials .carousel-item {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .testimonials .carousel-item {
    width: 420px;
  }
}

@media only screen and (max-width: 420px) {
  .testimonials .carousel-item {
    width: 100%;
  }
}

.testimonials .carousel-item-review {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  position: absolute;
  right: 294px;
  width: 582px;
  height: 403px;
}

@media only screen and (max-width: 1169px) {
  .testimonials .carousel-item-review {
    right: 210px;
  }
}

@media only screen and (max-width: 1000px) {
  .testimonials .carousel-item-review {
    right: 110px;
  }
}

@media only screen and (max-width: 800px) {
  .testimonials .carousel-item-review {
    right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .testimonials .carousel-item-review {
    width: 360px;
    right: 35px;
  }
}

@media only screen and (max-width: 420px) {
  .testimonials .carousel-item-review {
    width: 100%;
    right: 0px;
  }
}

.testimonials .carousel-item-review-img {
  margin: 0 80px;
}

@media only screen and (max-width: 600px) {
  .testimonials .carousel-item-review-img {
    margin: 0;
  }
}

@media only screen and (max-width: 360px) {
  .testimonials .carousel-item-review-img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 360px) {
  .testimonials .carousel-item-review-img2 {
    width: 80px;
    height: 80px;
  }
}

.testimonials .carousel-item-review-text {
  margin: 50px 0;
  width: 582px;
  font-size: 24px;
  line-height: 30px;
  color: #3a3f4b;
  font-family: Lora-Regular;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .testimonials .carousel-item-review-text {
    font-size: 18px;
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .testimonials .carousel-item-review-text {
    width: 300px;
  }
}

@media only screen and (max-width: 360px) {
  .testimonials .carousel-item-review-text {
    width: 200px;
  }
}

.testimonials .carousel-item-review-name {
  font-size: 24px;
  text-align: center;
  font-size: 14px;
  color: #3a3f4b;
}

.testimonials .carousel-item-review-name span {
  border-bottom: 1px solid #3a3f4b;
}

.carousel-indicators {
  bottom: 0;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .carousel-indicators {
    bottom: -20px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-indicators {
    bottom: -80px;
  }
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #999999;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #393f4b;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15px;
}

.carousel-control-prev-icon {
  background: url("img/iconleft.png");
  height: 30px;
  width: 15px;
}

.carousel-control-next-icon {
  background: url("img/inonright.png");
  height: 30px;
  width: 15px;
}

.contact {
  width: 1170px;
  height: 710px;
}

@media only screen and (max-width: 500px) {
  .contact {
    min-height: 1150px;
  }
}

@media only screen and (max-width: 340px) {
  .contact {
    padding: 0 10px;
  }
}

.contact__wrapper {
  width: 100%;
  height: 710px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #3b404c;
}

@media only screen and (max-width: 1140px) {
  .contact__wrapper {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 500px) {
  .contact__wrapper {
    min-height: 1150px;
  }
}

.contact__top {
  margin-top: 70px;
  margin-bottom: 85px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 716px) {
  .contact__top {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.contact__top_logo {
  font-size: 33px;
  color: white;
  font-family: Lora-Bold;
  font-weight: bold;
}

@media only screen and (max-width: 716px) {
  .contact__top_logo {
    width: 100%;
    text-align: center;
  }
}

.contact__top_menu {
  width: 456px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 716px) {
  .contact__top_menu {
    width: 320px;
  }
}

@media only screen and (max-width: 340px) {
  .contact__top_menu {
    width: 300px;
  }
}

.contact__top_menu-link {
  font-size: 21px;
  color: white;
}

@media only screen and (max-width: 716px) {
  .contact__top_menu-link {
    font-size: 16px;
  }
}

.contact__top_menu-link:hover {
  text-decoration: none;
  color: white;
}

.contact__bot {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .contact__bot {
    flex-wrap: wrap;
  }
}

.contact__bot_address {
  height: 370px;
}

@media only screen and (max-width: 600px) {
  .contact__bot_address {
    width: 100%;
  }
}

.contact__bot_address-item-name {
  font-size: 24px;
  line-height: 24px;
  color: white;
  font-family: OpenSans-SemiBold;
}

.contact__bot_address-item-about {
  line-height: 20px;
  margin-top: 30px;
  font-size: 18px;
  color: #999999;
}

.contact__bot_address-item:nth-child(1), .contact__bot_address-item:nth-child(2) {
  margin-bottom: 70px;
}

.contact__bot_message {
  height: 440px;
  width: 770px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 1140px) {
  .contact__bot_message {
    width: 100%;
  }
}

@media only screen and (max-width: 1140px) {
  .contact__bot_message {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .contact__bot_message {
    margin-left: 0;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 1140px) {
  .contact__bot_message-item {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .contact__bot_message-item {
    width: 100%;
  }
}

.contact__bot_message-item-name {
  font-size: 26px;
  line-height: 26px;
  color: white;
}

.contact__bot_message-item:nth-child(3) {
  margin-top: 75px;
}

@media only screen and (max-width: 1140px) {
  .contact__bot_message-item:nth-child(3) {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .contact__bot_message-item:nth-child(3) {
    margin-top: 20px;
  }
}

.contact__bot_message-item:nth-child(2) {
  margin-left: 45px;
}

@media only screen and (max-width: 1140px) {
  .contact__bot_message-item:nth-child(2) {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .contact__bot_message-item:nth-child(2) {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
}

.contact__bot_message-button {
  font-size: 25px;
  line-height: 23px;
  color: white;
  font-weight: bold;
  width: 280px;
  height: 63px;
  border-radius: 32px;
  box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.25);
  background-color: #00a5ff;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .contact__bot_message-button {
    width: 280px;
  }
}

.footer {
  position: relative;
  width: 1170px;
  height: 88px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 1140px) {
  .footer {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 650px) {
  .footer {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.footer__wrapper {
  width: 100%;
  height: 88px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.footer__text {
  font-size: 13px;
  line-height: 26px;
  color: #999999;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 650px) {
  .footer__text {
    width: 100%;
  }
}

.footer__button {
  cursor: pointer;
  border: none;
  width: 67px;
  height: 67px;
  font-family: SourceSansPro-Bold;
  border-radius: 34px;
  box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.25);
  background-color: #00a5ff;
}

@media only screen and (max-width: 750px) {
  .footer__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.footer__up {
  position: absolute;
  top: -34px;
  left: 50%;
}

@media only screen and (max-width: 650px) {
  .footer__up {
    top: 19px;
    left: 90%;
  }
}

@media only screen and (max-width: 650px) {
  .footer__up {
    left: 80%;
  }
}

.about {
  font-size: 30px;
  color: white;
}

textarea {
  margin-top: 20px;
  color: white;
  padding: 10px 23px 10px 23px;
  height: 140px;
  border: none;
  width: 770px;
  background: #3b404c;
  border-bottom: 1px solid #999999;
}

@media only screen and (max-width: 980px) {
  textarea {
    width: 600px;
  }
}

@media only screen and (max-width: 800px) {
  textarea {
    width: 500px;
  }
}

@media only screen and (max-width: 716px) {
  textarea {
    width: 100%;
  }
}

textarea:focus {
  background: #3b404c;
  outline: none;
  border-bottom: 1px solid #00a5ff;
  box-shadow: 0 1px 0 #276288;
}

input {
  padding: 10px 23px 10px 23px;
  height: 45px;
  background: none;
  border: none;
  border-bottom: 1px solid #999999;
  width: 360px;
  background: #3b404c;
  color: white;
}

@media only screen and (max-width: 980px) {
  input {
    width: 100%;
  }
}

input:focus {
  background: #3b404c;
  outline: none;
  border-bottom: 1px solid #00a5ff;
  box-shadow: 0 1px 0 #276288;
}

.grey {
  color: #999999;
}
